@import url("reset.css");
@import url("font.css");
@import url("header.css");
@import url("contents.css");
@import url("responsive.css");
.wrap {
  width: 100%;
  min-width: 390px;
}
.main{
  width: 100%;
  margin: 0 auto;
}
.inner {
  width: 100%;
  max-width: 1320px;
  min-width: 390px;
  margin: 0 auto;
  padding-left: clamp(18px, 0.5vw, 20px);
  padding-right: clamp(18px, 0.5vw, 20px);
}
.sr-only {
  display: none;
}
