@media (max-width: 1020px) {
  .main-menu {
    display: none;
  }
  .unb {
    display: none;
  }
}
@media (max-width: 760px) {
  .slide1 img {
    content: url("../assets/images/mo-banner/01_key_visual_mo_banner335x360.jpg");
  }
  .slide2 img {
    content: url("../assets/images/mo-banner/02_mo_banner.jpg");
  }
  .slide3 img {
    content: url("../assets/images/mo-banner/03_mo_banner_3.jpg");
  }
  .slide4 img {
    content: url("../assets/images/mo-banner/04_mo_banner.jpg");
  }
}

@media (max-width: 1160px) {
  .link-item .icon {
    height: 6vw;
    min-width: 59px;
    min-height: 59px;
  }
}
@media (max-width: 1165px) {
  .box.archive {
    flex-wrap: wrap;
  }
}
@media (max-width: 1023px) {
  .quickMenu2 {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .quickMenu-item {
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .box-wrap {
    flex-direction: column;
  }
  .box.archive {
    width: 100%;
    padding: 40px;
  }
  .box.cs {
    width: 100%;
    margin: auto 0;
    padding: 40px;
  }
}
