@media (max-width: 390px){
.sWbtn{
  display: none;
}
}
/* 520px */
@media (max-width: 520px) {
  /* .sWbtn {
    position: absolute;
    top: 10%;
    left: 10%;
  } */
  .main-slide-wrap .co-mySwiper2 {
    /* width: 80%; */
    /* margin: 0 auto; */
    width: 100%;
  }
  .main-slide-wrap .book-info {
    width: 50%;
  }
  .book-desc {
    margin-top: 0;
  }

}

/* 560px */
@media (min-width: 650px) {
  /* .sWbtn {
    position: absolute;
    top: 15%;
    left: 60%;
  } */
}

/* Max - 768px */
@media (max-width: 768px) {
  /* 상단 슬라이드 */
  .slide1 img {
    content: url("../assets/images/mo-banner/01_key_visual_mo_banner335x360.jpg");
  }
  .slide2 img {
    content: url("../assets/images/mo-banner/02_mo_banner.jpg");
  }
  .slide3 img {
    content: url("../assets/images/mo-banner/03_mo_banner_3.jpg");
  }
  .slide4 img {
    content: url("../assets/images/mo-banner/04_mo_banner.jpg");
  }

  /* 학습자료실 + 고객지원 전체 영역*/
  .box-wrap {
    flex-direction: column;
  }
  /* 학습자료실 영역 */
  .box.archive {
    flex-direction: column;
    width: 100%;
  }
  .box.cs {
    width: 100%;
    margin: auto 0;
  }
  .main-section-3 {
    margin-top: 60px;
  }

  /* 학습자료실 텍스트 */
  .archive-txt {
    width: 100%;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .archive-txt h2 {
    margin: 0;
  }
  .archive-txt p {
    display: none;
  }
  .txt-btn {
    margin: 0;
  }
  /* .main-slide-wrap .book-info{
    width: 100%;
  } */
   .book-title{
    white-space: nowrap;
   }
}

/* 슬라이드 */
/* 900 이하 */
@media (max-width: 900px) {
  .main-slide-wrap {
    flex-wrap: wrap;
    gap: 20px;
  }
  .main-slide-wrap .book-title {
    /* font-size: 2.5rem; */
  }

  .main-slide-wrap .book-cate {
    font-size: 1rem;
  }

  /* 과목별 아이콘*/
  /* .book-cate.math-1::after {
    background: url("../assets/images/main/01-symbol-math.svg") no-repeat
      center / contain;
    right: 28.5rem;
  }
  .book-cate.math-2::after {
    background: url("../assets/images/main/01-symbol-math.svg") no-repeat
      center / contain;
    right: 28.5rem;
  }
  .book-cate.math-3::after {
    background: url("../assets/images/main/01-symbol-math.svg") no-repeat
      center / contain;
    right: 28.5rem;
  } */
/* 
  .book-cate.eng-1::after {
    background: url("../assets/images/main/01-symbol-english.svg") no-repeat
      center / contain;
    right: 28.4rem;
  }
  .book-cate.eng-2::after {
    background: url("../assets/images/main/01-symbol-english.svg") no-repeat
      center / contain;
    right: 27.5rem;
  }

  .book-cate.sci-1::after {
    background: url("../assets/images/main/03-symbol-science.svg") no-repeat
      center / contain;
    right: 28.2rem;
  }
  .book-cate.sci-2::after {
    background: url("../assets/images/main/03-symbol-science.svg") no-repeat
      center / contain;
    right: 28.2rem;
  } */

  .swiper {
    margin-left: 0;
    margin-right: 0;
  }
  .main-slide-wrap .book-desc li {
      max-width: 233px;
  white-space: nowrap;
  /* background-color: red; */
    /* font-size: 1.13rem; */
  }

  .main-slide-wrap .co-mySwiper {
    width: 100%;
    margin-top: 0;
  }

  /* 하단 슬라이드 */
  .main-slide-wrap .co-mySwiper {
    margin-top: clamp(5%, 0.5vw, 10%);
  }
  
.sWbtn {
position: absolute;
height: 100%;
top:3%;
left: 0;

}
}

/* 1020px */
@media (max-width: 1020px) {
  .main-menu {
    display: none;
  }
  .unb {
    display: none;
  }
}

/* 1023px */
@media (max-width: 1023px) {
  .quickMenu2 {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .quickMenu-item {
    flex: 0 0 calc(50% - 10px);
  }
}

/* 1200 이하 */
@media (max-width: 1200px) {
  .main-slide-wrap {
    gap: 20px;
  }

  .main-slide-wrap .book-desc li {
    /* font-size: 1.1rem; */
  }

  .main-slide-wrap .book-title {
    /* max-width: 300px;
    font-size: 2.4rem; */
  }
}
